{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block content %}
<div class="detail_view">
    <div class="detail">
        <h1>{{ poll.question }}</h1> 
    
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    
        <form class="detail_form" action="{% url 'vote' poll.id %}" method="post">
            {% csrf_token %}
            <div class="poll">
                {% for choice in poll.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </div>
            <div><input type="submit" value="Vote"></div>
        </form>
        <button><a href="{% url 'index' %}">Back</a></button>
    
    </div>
</div>
{% endblock %}

