{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block content %}
<div class="poll-index">
    {% if latest_poll_list %}
        <ul>
        {% for poll in latest_poll_list %}
            <li><a href="{% url 'detail' poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %} 
        <p>No polls are available.</p>
    {% endif %}
    {% if user.is_authenticated and user.is_superuser %}
    <button><a href="{% url 'polladd' %}">Add</a></button>
    {% endif %}
</div>
{% endblock %}