{% extends 'intro.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block contents %}
<form class="login" method="post">
    {% csrf_token %}
    <div class="logg">
        <h1>Login With</h1>
        <div class="log">
            <label>Username</label>
            <input type="text" placeholder="Enter Your Username" name="username">
            <label>Password</label>
            <input type="password" placeholder="Enter Your Password" name="password">
        </div>
        <input type="submit" value="Login">
        <button><a href="{% url 'open' %}">Back</a></button>
    </div>
</form>
{% endblock %}